html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FDFFC7;
    color: #8F6B00;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

.header {
    height: 200px;
    padding: 50px;
}

h2 {
    font-size: 42px;
    text-align: center;
}

.profile {
    height: 200px;
    width : 175px;
    position: absolute;
    border-radius: 100%;
}

.quote {
    font-size: 20px;
    margin-left: 200px;
    text-align: right;
}

#gk01 {
    background-size: cover;
    background: url('../imgs/gk01.jpg') fixed;
    height: 700px;
}

#gk02 {
    background-size: cover;
    background: url('../imgs/gk02.jpg') fixed;
    height: 700px;
}

.container-text {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

h4{
    display: inline;
}

.footer {
    text-align: center;
    margin-bottom: 50px;
}

.link {
    border-radius: 5px;
    border: 2px solid #8F6B00;
    height: 50px;
    width: 150px;
    margin: auto;
    text-decoration: none;
    color: #8F6B00;
}
